.dijitTooltipContainer {	
    background-color:#DDDDDD !important;
	width:100%;
}

.nav-tabs>li {
    background-color:#F5F9D1;
    border: 1px #888888 solid
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus  {
    color: #DDDDDD;
	border: 0px;
    background-color: #677E00;
} 
          
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}          

.texto_gris_claro {
	color:#999999; 
	font-weight: bold;
}

.tableSISH {
	width:100%; 
	border-collapse: collapse; 
	border: 1px solid black; 
	table-layout: fixed; 
	font-weight: normal;
}

.tbodySISH {		
	table-layout: fixed;
	font-size: 1.5vh;
	text-align: center;
}

.tbodySISH>tr:nth-child(2n+1) {
	background-color:  #fffff6;
}

.tbodySISH>tr:nth-child(2n) {
	background-color:  #e0e6cc;		
}